<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>SIGNUP</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">  
</head>
<body>
	<div class="login">
  <h1>Predict Soil Fertility</h1>
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('security')}}"method="post">
      <input type="text" name="Id" placeholder="Id" required="required" />
      <input type="text" name="Name" placeholder="Name" required="required" />
      <input type="text" name="Gender" placeholder="Gender" required="required" />
      <input type="text" name="Occupation" placeholder="Occupation" required="required" />
      <input type="text" name="Age" placeholder="Age" required="required" />
      <button type="submit" class="btn btn-primary btn-block btn-large">Save</button>
    </form>
</div>
</body>
